$body-font: 'Open Sans', sans-serif;
$primary-heading-font: 'Montserrat', sans-serif;
$italic-font: 'Cookie', cursive;
$secondary-heading-font: 'Raleway', sans-serif;

$body-color: #707070;
$primary: #fda341;
$heading-color: #292929;
