section {
    padding: 50px 0;
}
@for $i from 1 through 10{
    .pt-#{$i}{
        padding-top: #{$i}0px;
    }
}
@for $i from 1 through 10{
    .pb-#{$i}{
        padding-bottom: #{$i}0px;
    }
}
@for $i from 1 through 10{
    .mt-#{$i}{
        margin-top: #{$i}0px;
    }
}
@for $i from 1 through 10{
    .mb-#{$i}{
        margin-bottom: #{$i}0px;
    }
}

@for $i from 1 through 10{
    .mts-#{$i}{
        margin-top: #{$i}px;
    }
}
@for $i from 1 through 10{
    .ml-#{$i}{
        margin-left: #{$i}0px;
    }
}

@for $i from 1 through 10{
    .mr-#{$i}{
        margin-right: #{$i}0px;
    }
}
@for $i from 1 through 10{
    .mbs-#{$i}{
        margin-bottom: #{$i}px;
    }
}

@for $i from 1 through 120{
    .pl-#{$i}{
        padding-left: #{$i}px;
    }
}
@for $i from 1 through 120{
    .pr-#{$i}{
        padding-right: #{$i}px;
    }
}

/* col no padding*/


.cover-bg {
    @include cover-bg;
}
.mx-auto {
    margin: 0 auto;
}
.overlay{
    @include overlay($primary, 0.5);
}
.btn {
    border: 0;
    color: #fff;
    background: #ddd;
    padding: 10px 20px;
    border-radius: 0;
    font-weight: 700;
    line-height: 24px;
    display: inline-block;
    @include letter-spacing(75, 18);
    @include transition(all 0.5s ease);
    &:hover, &:focus {
        color: $primary;

        &:before {
            top: -30px;
            left: -30px;
        }
    }

    &.btn-dark {
    //    background: $secondary;

        &:before {
      //      background: $base;
        }
    }

    &.btn-lg {
        width: 360px;
        padding: 33px 15px;
    }

    &.btn-sm {
        width: 273px;
        padding: 24px 15px;
    }
    &.btn-border{
        color: #fff;
        background: transparent;
        border: 2px solid #fff;
        padding: 10px 20px;
        border-radius: 0;
        &:hover{
            background: $primary;
            border: 2px solid $primary;
            color: #fff;
        }
    }
    &.btn-primary{
        background: $primary;
        padding: 10px 30px;
        &:hover{
            color: #fff;
        }
    }
}

/* logo design */
.logo{
    a{
        h1{
            font-family: $secondary-heading-font;
            color: #202020;
            font-size: convert(22, pts, rem);
            border-right: 1px solid #ddd;
            padding-right: 20px;
            font-weight: 600;
            position: relative;
            letter-spacing: 2px;
            &:before{
                @include absolute(46%,0, 0, 24.5%);
                content: "";
                transform: rotate(-45deg);
                width: 30px;
                height: 2px;
                background-color: #202020;
            }
        }
    }
}

.small-heading-title{
    border-bottom: 1px solid #eee;
    padding-bottom: 15px;
    h2{
        font-family: $secondary-heading-font;
        font-size: convert(14,pts,rem);
        color: #292929;
    }
}